  <nav id = "nav" class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <span><a class="navbar-brand" href="#">Tabletka</a></span>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item ">
          <a class="nav-link" href="#">Главная страница</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  >Список лекарств</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link"  >Список аптек<span class="sr-only">(current)</span></a>
        </li>
        
      </ul>
      <div class="col-lg-3 col-md-3 col-sm-12 p-0">
        <input #drugInput type="text" (click) = "fillSelect()" class="form-control search-slt" placeholder="Введите препарат...">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 p-0">
        <mat-select #regionSelector (click) = "fillSelect()" class="form-control search-slt" id="exampleFormControlSelect1" [value] = "regionNumber">
          <mat-option *ngFor="let region of regions" value={{region.reg_num}}> {{region.region}} </mat-option>
        </mat-select>
      </div>
    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
      <button (click) = "findDrugs(drugInput.value, regionSelector.value)" id = "searchButton" type="button" class="btn btn-info wrn-btn">Поиск</button>
    </div>
    <img width = "35" id = "gMap" height="35" (click) = "openGM(content)" [src]="myImage" alt="image">
    </div>
  </nav>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Карта</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form >
        <div class = "map">
          <agm-map [latitude]="location.latitude" [longitude]="location.longitude"  (mapClick)="sortByUserMark($event.coords.lat, $event.coords.lng, 'Ваша метка')" [zoom]="location.zoom">
            <agm-marker *ngFor="let marker of location.markers" [latitude]="marker.lat" [longitude]="marker.lng"  (markerClick)="selectMarker($event)" [label]="marker.label"></agm-marker>
        </agm-map>
        <!-- <div>
          Selected Marker is: Longitude {{selectedMarker.lat}} Latitude {{selectedMarker.lng}}
      </div> -->
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ок</button>
    </div>
  </ng-template>


  <mat-card>
    <mat-form-field id = "mat-slct">
      <mat-label>Выберите сортировку</mat-label>
      <mat-select matNativeControl matSelect>
        <mat-option (click) = "sortByCoords()" value="option1">Сортировка по местоположению  <img (click) = "sortByCoords()" width = "25px" height = "25px" src ="https://pngfon.ru/wp-content/gallery/geolokacziya-krasnyj/3.png"></mat-option>
        <mat-option (click) = "sortByPrice()" value="option2">Сортировка по цене</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox (click) = "sortAmount()" class="checkBox" [(ngModel)]="checked">Убрать аптеки, где препарата нет</mat-checkbox>
    <mat-card-content>
      <div class="list">
        <mat-list>
          <mat-list-item *ngFor="let pharmacy of pharmacys ">
            <div class = "mobile">
            <div class="card" style="width: 21rem; height: 17rem;">
              <div class="card-body"  (click) = "aboutPharmacy(pharmacy.name)">
                <h5 class="card-title">{{pharmacy.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{pharmacy.address}}</h6>
                <p class="card-text">
                  Город: {{pharmacy.region}}<br>
                  Расстояние до вас: {{pharmacy.distanceBetweenUser}}<br>
                  Цена на препарат: <span style="color: red; font-weight: bold;">{{pharmacy.price_list[0].price}}</span><br>
                  Остаток на складе: <span style="font-weight: bold;">{{pharmacy.price_list[0].amount}}</span><br>
                  <div *ngIf="pharmacy.is_24 == 0; else elseBlock"><span style="color: green">Работает 24/7</span></div> <ng-template #elseBlock><span style="color: red">Не работает 24/7<br></span></ng-template>
                   </div>
            </div>
          </div>

          <div class = "dekstop">
            <div class="container">
          <div class="card">
            <div class="card-content">
              <div class="card-body" (click) = "aboutPharmacy(pharmacy.name)">
                <div class="item">
                  <div class = "ls_name">{{pharmacy.name}}</div>
                  <div class = "nlec_name">{{pharmacy.address}}</div>
                  <div class = "tar_name">{{pharmacy.region}}</div>
                  <div class = "price" style= "padding-left: 10px">Остаток - {{pharmacy.price_list[0].amount}}<br><span style= "font-weight: bold;">Цена - {{pharmacy.price_list[0].price}}</span ></div>
                  <div class = "distanceBetweenUser">{{pharmacy.distanceBetweenUser}}км от вас</div>
                  <div  *ngIf="pharmacy.is_24 == 0; else elseBlock"><span style="color: green">Работает 24/7</span></div> <ng-template #elseBlock><span style="color: red">Не работает 24/7<br></span></ng-template>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>

          </mat-list-item>
        </mat-list>
      </div>
    </mat-card-content>
  </mat-card>  


<!-- <table align="center" mat-table [dataSource]="dataSource" matSort  class="mat-elevation-z8">

    <ng-container matColumnDef="apt_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>№</th>
        <td #counter mat-cell  (click)="aboutPharmacy(element.name)" *matCellDef="let element"> {{element.apt_id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Название</th>
        <td #name mat-cell (click)="aboutPharmacy(element.name)" *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Адрес <img width = "35" height="35" (click) = "openGM(content)" [src]="myImage" alt="image"></th>
      <td mat-cell  (click)="aboutPharmacy(element.name)" *matCellDef="let element"> {{element.address}} </td>
    </ng-container>

    <ng-container matColumnDef="region">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Регион</th>
        <td #counter mat-cell  (click)="aboutPharmacy(element.name)" *matCellDef="let element"> {{element.region}} </td>
      </ng-container>

      <ng-container matColumnDef="phones">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Телефон</th>
        <td #counter mat-cell (click)="aboutPharmacy(element.name)"  *matCellDef="let element"> {{element.phones}} </td>
      </ng-container>
      <ng-container matColumnDef="is_24">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Работает 24 часа в сутки?</th>
        <td #counter mat-cell (click)="aboutPharmacy(element.name)" *matCellDef="let element"> <div *ngIf="element.is_24 == 0; else elseBlock">Нет</div> <ng-template #elseBlock>Да</ng-template></td>
      </ng-container>
      <ng-container matColumnDef="work_today">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>График работы сегодня</th>
        <td mat-cell (click)="aboutPharmacy(element.name)" *matCellDef="let element"> {{element.work_today}} </td>
      </ng-container>
      <ng-container matColumnDef="price_list[0].price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Цена на препарат</th>
        <td mat-cell (click)="aboutPharmacy(element.name)" *matCellDef="let element"> {{element.price_list[0].price}} </td>
      </ng-container>
      <ng-container matColumnDef="amount">
        <th mat-header-cell (click) = "sortAmount()" *matHeaderCellDef mat-sort-header>Остаток </th>
        <td mat-cell (click)="aboutPharmacy(element.name)" *matCellDef="let element"> {{element.price_list[0].amount}} </td>
      </ng-container>
    <ng-container matColumnDef="date_update">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Время обновления </th>
        <td mat-cell (click)="aboutPharmacy(element.name)" *matCellDef="let element"> {{element.date_update}} </td>
      </ng-container>
      <ng-container matColumnDef="distanceBetweenUser">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Расстояние до вас </th>
        <td mat-cell (click)="aboutPharmacy(element.name)" *matCellDef="let element"> {{element.distanceBetweenUser}} </td>
      </ng-container>
       
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> -->