
.column1{
    position: relative;
    left: 15%;
    top: 18%;
}
li{
  cursor: pointer;
}
.column2{
    position: relative;
    bottom: 260px;
    left: 15%;
}
.example-full-width{
    width: 10%;
}
input{
    width: 350px;
}
.map {
    width: 100%;
    min-height: 50vh;
    height: 0;
}

nav div input{
    width:100%;
  }
  nav div mat-select{
   width: 100%;
 }

mat-card{
    height: 75%;
}
    agm-map {
    position: relative;
    height: 110%;
    width: 45%;
    left: 48%;
    bottom:575px;
}
@media (min-width: 1200px) {
  .column1{
    margin-right: -250px;
  }
}
@media (max-width: 400px) {
    nav div{
      margin-top:5px;
    }
    nav div input{
      width:100%;
    }
    nav div mat-select{
     width: 100%;
   }
   nav div button{
    width: 50%;
  }
   nav div button {
     margin-left: 25%;
   }
  }
  @media (max-width: 600px) {
   nav div{
     margin-top:5px;
   }
   nav div input{
     width:100%;
   }
   nav div button{
    width: 50%;
  }
   nav div mat-select{
    width: 100%;
  }
  nav div button {
    margin-left: 25%;
  }
  }
.header{
    padding-top: 1%;
}
#graph{
    padding-top: 15px;
}
@media screen and (max-device-width: 768px){
    nav{
        width: 120%;
    }
    mat-card{
        height: 100%;
        width: 120%;
    }
    agm-map {
        position: relative;
        height: 70%;
        width: 55%;
        left: 0%;
        bottom:370px;
    }
    .column1{
        position: relative;
        left: 2%;
        top: 3%;
        width: 1150px;
    }
    .column2{
        position: relative;
        width: 950px;
        bottom: 250px;
        left: 22%;
    }
  }
  @import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");


  .search > div {
    display: inline-block;
    position: relative;
  }
  
  .search > div:after {
    content: "";
    background: white;
    width: 4px;
    height: 20px;
    position: absolute;
    top: 40px;
    right: 2px;
    transform: rotate(135deg);
    box-shadow: 1px 0 #0091c2;
  }
  
  .search > div > input {
    color: white;
    font-size: 16px;
    background: transparent;
    width: 25px;
    height: 25px;
    padding: 10px;
    border: solid 1px white;
    outline: none;
    border-radius: 35px;
    box-shadow: 0 1px #0091c2;
    transition: width 0.5s;
  }
  
  .search > div > input::placeholder {
    color: #efefef;
    opacity: 1;
  }
  
  .search > div > input::-ms-placeholder {
    color: #efefef;
  }
  
  .search > div > input::-ms-input-placeholder {
    color: #efefef;
  }
  
  .search > div > input:focus,
  .search > div > input:valid {
    width: 250px;
  }