<nav id = "nav" class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <span><a class="navbar-brand" href="#">Tabletka</a></span>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item ">
          <a class="nav-link" href="#">Главная страница</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link"  >Список лекарств</a>
        </li>
      </ul>
      <div class="flexbox">
        <div class="search">
          <div>
            <input type="text" placeholder="       Быстрый поиск. . ." required>
          </div>
        </div>
      </div>
    </div>
  </nav>
  
<mat-card>
  <mat-card-content>
    <div class="list">
      <mat-list>
        <mat-list-item *ngFor="let drug of drugs ">
          <!-- <div class = "drug-header" (click)="findPharmacy(drug.ls_num)"><h1>{{drug.ls_name}}</h1></div>
          <div class ="drug-body" (click)="findPharmacy(drug.ls_num)">
          <h3 mat-line>
            {{drug.tar_name}}<br>
            {{drug.nlec_name}}<br>
            <p>Цена  -  <span class = "drug-price">{{drug.price_min}} - {{drug.price_max}}  р.</span></p><br>

          </h3>
          </div> -->
          <div class="card border-info" style="width: 19rem; height: auto;">
            <div class="card-body">
              <h5 class="card-title">{{drug.ls_name}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{drug.tar_name}}</h6>
              <p class="card-text">
                {{drug.nlec_name}}<br>
                {{drug.firm_name}}<br>
                {{drug.country_name}}<br>
                Цена  -  <span class = "drug-price">{{drug.price_min}} - {{drug.price_max}}  р.</span>
              </p>
              <button (click) = "findPharmacy(drug.ls_num)" type="button" class="btn btn-outline-primary">Выбрать</button>
            </div>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-card-content>
</mat-card>
