<nav id = "nav" class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <span><a class="navbar-brand" href="#">Tabletka</a></span>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item ">
          <a class="nav-link" href="#">Главная страница</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link"  >Список лекарств</a>
        </li>
      </ul>
      <div class="col-lg-3 col-md-3 col-sm-12 p-0">
        <input #drugInput type="text" (click) = "fillSelect()" class="form-control search-slt" placeholder="Введите препарат...">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 p-0">
        <mat-select #regionSelector (click) = "fillSelect()" class="form-control search-slt"  [value] = "regionNumber">
          <mat-option *ngFor="let region of regions" value={{region.reg_num}}> {{region.region}} </mat-option>
        </mat-select>
      </div>
    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
      <button #btnSearch (click) = "findDrugs(drugInput.value, regionSelector.value)" id = "searchButton" type="button" class="btn btn-info wrn-btn">Поиск</button>
    </div>
  </div>
  </nav>
  
<mat-card>
  <mat-card-content>
    <div class="list">
      <mat-list>
        <mat-list-item *ngFor="let drug of drugs ">

          <div class ="mobile">
          <div class="card border-info" style="width: 17rem; height: 13rem;">
            <div class="card-body" (click) = "findPharmacy(drug.ls_num)">
              <h5 class="card-title">{{drug.ls_name}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">
                {{drug.nlec_name}}
                {{drug.firm_name}}
              </h6>
              <p class="card-text">
                {{drug.tar_name}}<br>
                <span style = "font-weight: bold;">{{drug.country_name}}</span><br>
                <br>
                Цена  -  <span class  = "drug-price">{{drug.price_min}} - {{drug.price_max}}  р.</span>
              </p>
            </div>
          </div>
        </div>

          <div class = "dekstop">
            <div class="container">
          <div class="card">
            <div class="card-content">
              <div class="card-body" (click) = "findPharmacy(drug.ls_num)">
                <div class="item">
                  <div class = "ls_name">{{drug.ls_name}}</div>
                  <div class = "nlec_name">{{drug.nlec_name}}</div>
                  <div class = "tar_name">{{drug.tar_name}}</div>
                  <div style= "padding-left: 10px">{{drug.firm_name}}<br><span style= "font-weight: bold;">{{drug.country_name}}</span ></div>
                  <div class = "price">{{drug.price_min}} ... {{drug.price_max}}р.</div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>

        </mat-list-item>
      </mat-list>
    </div>
  </mat-card-content>
</mat-card>
