<!-- <mat-form>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Сервис для поиска лекарств</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Главная страница<span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Быстрый поиск" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Поиск</button>
      </form>
    </div>
  </nav>
  <div class="wrap">
   <div class="search">
      <input #searchField type="text" class="searchTerm" placeholder="Наименование лекарства">
     <div (click)="findDrugs(searchField.value, selectRegion.value)"><button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
    </div> 
     <div class="form-group col-md-4" >
      <select id = "selectDropdown" #selectRegion class="form-control" data-live-search="true">
      <option *ngFor="let region of regions" value={{region.reg_num}}> {{region.region}} </option>
    </select>
      </div>
   </div>
</div>
</mat-form> -->

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="colorlib.com">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700" rel="stylesheet" />
  </head>
  <body>
    <div class="s013">
      <form>
        <fieldset>
          <legend>БЫСТРЫЙ ПОИСК НУЖНОГО ПРЕПАРАТА</legend>
        </fieldset>
        <div class="inner-form">
          <div class="left">
            <div class="input-wrap first">
              <div class="input-field first" >
                <label>НАЗВАНИЕ ПРЕПАРАТА</label>
                <input (keyup) = "fillDrugs(searchField.value)" #searchField type="text" placeholder="например: аспирин, уголь, витамины, и тд..." />
                  <div class = "alt_variants" (click) = "setSearchedDrug(drug.ls_name)" *ngFor="let drug of drugs | slice:0:7; let i=index">
                    <div  class = "alt_child">{{drug.ls_name}}</div>
                  </div>
              </div>
            </div>
            <div class="input-wrap second">
              <div class="input-field second">
              <mat-form-field>
                <label>РЕГИОН</label>
                <mat-select #singleSelect [(value)] = "userReg_num" >
                  <mat-option >
                    <ngx-mat-select-search  (keyup) = "test(ngx.value)" #ngx placeholderLabel="Поиск региона..." noEntriesFoundLabel="'не найдено'" [formControl]="bankFilterCtrl" ngxMatSelectSearchClear></ngx-mat-select-search>
                  </mat-option>
                  <mat-select-trigger>
                    {{userRegion}}
                  </mat-select-trigger>
                  <mat-option #matSelect *ngFor="let region of regions"  [value]="region.reg_num"> {{region.region}} </mat-option>
                </mat-select>
              </mat-form-field>
              </div>
            </div>
          </div>
          <button (click)="findDrugs(searchField.value, singleSelect.value)" class="btn-search" type="button">Поиск</button>
        </div>
      </form>
    </div>
    <script src="js/extention/choices.js"></script>
    <script>
      const choices = new Choices('[data-trigger]',
      {
        searchEnabled: false,
        itemSelectText: '',
      });

    </script>
  </body>
</html>
